body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #1a237e;
}

ul {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  width: 300px;
}

li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.delete-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 10px; /* Increase horizontal padding */
  background-color: #9c27b0;
  color: #fff;
  border-radius: 3px; /* Reduce border-radius */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #7b1fa2;
}


#delete-all-button {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#delete-all-button:hover {
  background-color: #c62828;
}
